{% extends 'layout.html.twig' %}

{% block body %}
    <div class="page-header clearfix">
        <h2 class="pull-left">Create a new user</h2>
        <a href="/users" class="btn btn-info pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Back to
            list</a>
    </div>
    <div class="container">
        {% verbatim %}
        <div class="row" id="user-app" v-cloak>
            <div class="col-md-8 order-md-1">
                <div class="user-form">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" v-model="user.name" id="name" placeholder="Enter Name">
                        <p v-if="errors.name" class="text-danger">{{errors.name}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" v-model="user.email" id="email" placeholder="Enter Email">
                        <p v-if="errors.email" class="text-danger">{{errors.email}}</p>
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="submit">Submit</button>
                </div>
            </div>
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Latest users</span>
                    <span class="badge badge-secondary badge-pill">{{users.length}}</span>
                </h4>
                <ul class="list-group mb-3">
                    <li v-for="user in latestUsers()" class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">User name</h6>
                            <small class="text-muted">{{user.name}}</small>
                        </div>
                        <span class="text-muted">{{user.email}}</span>
                    </li>
                </ul>
            </div>
        </div>
    {% endverbatim %}
    </div>
{% endblock %}

{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <script>
        new Vue({
            el: '#user-app',
            data: {
                users: {{ users|json_encode|raw }},
                user: {
                    id: '',
                    name: '',
                    email: ''
                },
                errors: {
                    user: false,
                    email: false
                }
            },
            methods: {
                latestUsers: function (limit = 4) {
                    return this.users.slice(0, limit)
                },
                submit: function () {
                    this.clearErrors();
                    //@TODO Optionally validate user data on the client side
                    fetch(this.user.id ? '/users/edit' : '/users/new', {
                        method: 'POST',
                        body: JSON.stringify(this.user)
                    })
                        .then(response => response.json())
                        .then(result => {
                            if (result.success) {
                                window.location.href = '/users';
                            } else {
                                this.errors = result.errors;
                            }
                        });
                },
                clearErrors: function () {
                    this.errors = {
                        user: false,
                        email: false
                    }
                }
            }
        });
    </script>
{% endblock %}