{% extends 'layout.html.twig' %}

{% block body %}
    <div class="page-header clearfix">
        <h2 class="pull-left">Users</h2>
        <a href="/users/new" class="btn btn-success pull-right">Create User</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>
                <a href="/customers/edit/{{ user.id }}">{{ user.id }}</a>
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}