{% extends 'layout.html.twig' %}

{% block body %}
    {% verbatim %}
    <div id="users-list" v-cloak>
        <div v-show="alert.success" class="alert alert-success" role="alert"><button v-on:click="alert.success=false" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{alert.success}}</div>
        <div v-show="alert.error" class="alert alert-danger" role="alert"><button v-on:click="alert.error=false" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{alert.error}}</div>
        <div class="page-header clearfix">
            <h2 class="pull-left">Users <span class="badge">{{ users.length }}</span></h2>
            <a href="/users/new" class="btn btn-success pull-right">Create User</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="user in pageContent">
                    <td class="user-id">{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="#" v-on:click="remove(user)"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous" v-on:click="prevPage">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" v-for="pageNumber in totalPages()"><a class="page-link" href="#" v-on:click="exactPage(pageNumber+1)">{{pageNumber+1}}</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next" v-on:click="nextPage">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    <script>
        new Vue({
            el: '#users-list',
            data: {
                perPage: 5,
                currentPage: 1,
                pageContent: [],
                users: {{ users|json_encode|raw }},
                alert: {
                    error: false,
                    success: false
                }
            },
            created: function () {
                this.page();
            },
            methods: {
                totalPages: function () {
                    return Math.ceil(this.users.length / this.perPage);
                },
                exactPage: function (pageNumber) {
                    this.currentPage = pageNumber;
                    this.page();
                },
                nextPage: function () {
                    if (this.totalPages() <= this.currentPage) {
                        return;
                    }

                    this.currentPage++;
                    this.page();
                },
                prevPage: function () {
                    if (this.currentPage <= 1) {
                        return;
                    }

                    this.currentPage--;
                    this.page();
                },
                page: function () {
                    if (this.currentPage > this.totalPages()) {
                        this.currentPage = this.totalPages();
                    }

                    let offset = (this.currentPage - 1) * this.perPage;
                    this.pageContent = this.users.slice(offset, offset + this.perPage);
                    console.log(this.users, offset, offset + this.perPage, this.currentPage);
                },
                remove: function (user) {
                    //@TODO Optionally validate user data
                    fetch('/users/' + user.id, {
                        method: 'DELETE',
                    })
                        .then(response => response.json())
                        .then(result => {
                            if (result.success) {
                                this.users.splice(this.users.indexOf(user), 1);
                                this.page();
                                this.alert.success = 'User successfully removed';
                            } else {
                                this.alert.error = result.error;
                            }
                        });
                }
            }
        });
    </script>
{% endblock %}